cssCopy code/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
    background-color: rgb(242,242,242);
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
header{
    color: rgb(45,114,241);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin-left: 230px;
}

article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.slection-tasks {
    width: 25%;
    
}

.slection-tasks * {
    width: 100%;
}

.slection-tasks p {
    color: rgb(85,124,191);
    max-width: 200px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom:3px;
}


.slection-tasks input {
    height: 37px; 
    background-color: rgb(255, 255, 255);
    width: 98%;
    border-radius: 4px;
    border: 1px solid rgb(213,213,233);
}
.slection-tasks select{
    height: 30px; 
    border-radius: 4px;
    border: 1px solid rgb(213,213,233);
}

.slection-tasks select {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    
}

.slection-tasks div {
    margin-top: 40px;
    border-radius: 20px;
    

}
.slection-tasks button{
    background-color:rgb(45,114,241);
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(45,114,241);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.task-name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}

.task-name{
    width: 30%;
    height: 160px;
    background: rgb(255,255,255);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.box1 span{ 
    display: flex;


}
.Priority-name{
    width: 80px;
    height: 25px;
    background: rgb(241,95,145);
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
   
}
.task-name-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: rgb(78,86,168);
    margin-bottom: 18px;
    
}
.box2{
    display: flex;
   
   
}
.box2 span{
    background: rgb(220,220,220);
    color: rgb(70,113,187);
    margin-right:5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 140px;
    height: 30px;
    margin-bottom: 18px;
}
.box3{
    display: flex;
    
}
.box3 span{
    width: 160px;
    color:rgb(70,113,187) ;
    margin-left: 10px;
    margin-bottom: 18px;
}
.data-comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comments{
    color:rgb(70,113,187) ;
}
.date{
    align-self: flex-end;
}


@media only screen and (max-width: 375px) {
    header {
        font-size: 50px;
        margin-left: 0;
        text-align: center;
    }

    article {
        flex-direction: column;
        
    }

    .slection-tasks {
        width: 90%;
    }

    .slection-tasks p {
        max-width: none;
        margin-bottom: 10px;
    }

    .slection-tasks div {
        margin-top: 20px;
        border-radius: 10px;
    }

    .task-name {
        width: 94%;
        height: 150px;
        padding: 10px;
        margin-bottom:20px;
        margin-top: 20px;
    }

    .task-name img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .box1 span{ 
        display: flex;
    }

    .task-name-2 {
        font-size: 20px;
        margin-bottom: 20px;
        align-self: flex-start;
    }

    .box1 span {
        flex-direction: column;
        
    }

    .box2 span {
        width: 90px;
        height: 25px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .box3 span {
        width: 160px;
        height: 25px;
        margin-bottom: 20px;
    }
    
}